 /* get the required local files */
 @font-face{
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* use the Roboto font first */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
}
/*first container section*/
.fc_container{
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-left: 150px;  
}
.fc_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    background: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
}
.fc_headerlogo{
    color:#F9FAF8;
    font-size: 24px;
}
.fc_headerlinks ul{
    display: flex;
    gap: 28px;
    padding:0;
    margin:0;
}
.fc_headerlinks li{
    list-style-type:none;
}
.fc_headerlinks a{
    color:#E5E7EB;
    text-decoration: none;
}        
.fc_banner{
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   gap: 40px;
   background: #1F2937;
   padding: 150px 150px 100px 150px;
}
.fc_banner_ls{
   display:flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   height: 260px;
   width: 550px;
}
.fc_banner_ls .btext1{
    color:#f9faf8;
    font-size:48px;
    font-weight:900;
}
.fc_banner_ls .btext2{
    color:#e5e7eb;
}
.fc_banner_b{
    background: #3882f6;
    border-radius: 8px;
    border: 0px;
    color: #f9faf8;
    padding: 8px 30px;
    margin-top: 1em; 
}
.fc_banner_rs{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #747474;;
    border-radius: 8px;
    height: 260px;
    width: 550px;
    color:#f9faf8;
}
/*second container section*/
.sc_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sc_title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
    margin: 40px;
}
.sc_i_group{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom:120px;
}
.sc_icon{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sc_pics{
    width: 150px;
    height:150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.sc_txt{
    color:#1f2937;
    text-align: center;
    width: 150px;
    padding-top: 8px;
}
/*third container section*/
.tc_container{
    display: flex;
    background: #e5e7eb;
    justify-content: center;
    align-items: center;
}
.tc_testimonial_box{
    display: flex;
    flex-direction: column;
    padding: 100px;
    width: 750px;
}
.tc_testimonial_box_body{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    align-self: center;
}
.tc_testimonial_box_quotebody_name{
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 10px;
}
/*fourth container section*/
.foc_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foc_blue_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882f6;
    border-radius: 10px;
    width: 750px;
    padding: 40px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.foc_b{
    background: #3882f6;
    border-radius:8px;
    border-width:2px;
    border-style:solid;
    border-color:#f9faf8;
    color: #f9faf8;
    padding: 8px 30px;
    margin-top: 1em; 
}
.foc_leftside_head{
    color:#f9faf8;
    text-align: left;
    font-size: 24px;
    font-weight: bold; 
}
.foc_leftside_body{
    color:#e5e7eb;
    text-align: left;
}
/*footer section*/
.footer {
    display: flex;
    background: #1F2937;
    justify-content: center;
    align-items: center;
    height: 85px;
    color: #e5e7eb;
}